<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
        <div class="navbar-info">
            <span id="span-username" th:text="${principal.username}"></span>
            <span>with roles:</span>
            <span id="span-roles" th:each="role: ${principal.getAuthorities()}" th:text="|${role} |"></span>
        </div>
        <form method="post" th:action="@{/logout}">
            <button type="submit" class="nav-link logout">Logout</button>
        </form>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <!--  Left sidebar sticky-->
            <nav class="col-md-2 d-none bg-light sidebar d-md-block main-panel">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link active">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/user}" class="nav-link">User</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!--  Центральная панель страницы  -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-panel">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all-users" role="tab" aria-controls="home" aria-selected="true">All users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#new-user" role="tab" aria-controls="profile" aria-selected="false">New user</a>
                    </li>
                </ul>

                <div class="tab-content" id="tabContent">
                    <!--  Main table  -->
                    <th:block th:insert="fragments/all-users-table"></th:block>

                    <!-- New user form -->
                    <th:block th:insert="fragments/new-user-form"></th:block>
                </div>
            </main>
        </div>
    </div>

    <!-- Модальное окно   -->
    <div id="modal-page"></div>

    <script th:src="@{/js/vendor/jquery.min.js}"></script>
    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>
</html>